<div class="card-container">
  <h1 class="sample-content">Hello From Chord Search</h1>
  <hr>
    <h4>{{title}}</h4>
    <ply-radio-buttons
      (change)="onSearchByChanged($event)"
      [radioButtons]="radioButtons"
    >
    </ply-radio-buttons>
    <ply-text-input
      placeholder="Search Here"
      (change)="onSearchInputChanged($event)"
    >
    </ply-text-input>
    <ply-btn (click)="onSeachChordsBtnClicked($event)">Search</ply-btn>
    <ul>
      <li class="text" *ngFor="let chord of chords | async">
        {{chord.artist}}, {{chord.title}}
      </li>
    </ul>
</div>
