<md-card>
  <h1 class="sample-content">Chord Search</h1>
  <hr>
    <h4>{{title}}</h4>
    <ply-radio-buttons
      (change)="onSearchByChanged($event)"
      [radioButtons]="radioButtons"
    >
    </ply-radio-buttons>
    <ply-text-input
      placeholder="Search Here"
      (change)="onSearchInputChanged($event)"
    >
    </ply-text-input>
    <ply-btn (click)="onSeachChordsBtnClicked($event)">Search</ply-btn>
    <ply-chord-list
      [chords]="chords"
      (onItemClicked)="redirectToChord($event, chord)"></ply-chord-list>
</md-card>
