
@import '../../styles/variables';

.ply-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.ply-sidenav {
  padding: 20px;
  width: 20%;
  nav {
    margin-top: 16px;
    a {
      color: $ply-primary-text-color;
      padding: 8px 16px;
      margin: 8px;
      vertical-align: middle;
      line-height: 1.25;
      text-align: center;
      text-decoration: none;

      &:hover {
        color: $ply-accent-color;
      }
    }
  }
}
